name: 构建阿里云镜像，用于客户端cli直接pull rename

on:
  push:

jobs:
  push_to_registry:
    name: Push Docker image to Aliyun
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses:  docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: hustme
          password: ${{ secrets.REGISTRY_PWD }}


      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: registry.cn-hangzhou.aliyuncs.com/jiangood/docker-pull:latest


